<header>
<% if @user %>
    <p id="picture" style="background-image: url(https://graph.facebook.com/<%= @user['id'] %>/picture?type=normal)"></p>
    <div>
      <h1>Welcome, <strong><%= @user['name'] %></strong></h1>
      
        <p>Share this app:</p>
        <ul>
          <li>
            <a href="#" class="facebook-button" id="postToWall" data-url="<%= url %>">
              <span class="plus">Post to Wall</span>
            </a>
          </li>
         <!--  <li>
            <a href="#" class="facebook-button speech-bubble" id="sendToFriends" data-url="<%#= url %>">
              <span class="speech-bubble">Send Message</span>
            </a>
          </li> -->
          <li>
            <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
              <span class="apprequests">Send Requests</span>
            </a>
          </li>
        </ul>
  
   

    <%# Likes %>

    
      <h3>Things you like</h3>
      <ul class="things">
        <% @likes.each do |like| %>
          <li>
            <a href="#" onclick="window.open('http://www.facebook.com/<%= like['id'] %>')">
              <img src="https://graph.facebook.com/<%= like['id'] %>/picture?type=square" alt="<%= like['name'] %>">
              <%= like['name'] %>
            </a>
          </li>
        <% end %>
      </ul>
    
</div>
<% else %>

    <h1>Hey!</h1>
      <a href='/auth/facebook' class="fb_button fb_button_medium">
        <span class="fb_button_text">Log In with Facebook</span>
      </a>
   </div>   
<% end %>
</header>
