
<header>
<% if @user %>
    <p id="picture" style="background-image: url(https://graph.facebook.com/<%= @user['id'] %>/picture?type=normal)"></p>
    <div>
      <h1>Welcome, <strong><%= @user['name'] %></strong></h1>
      
        <p>Share this app:</p>
        <ul>
          <li>
            <a href="#" class="facebook-button" id="postToWall" data-url="<%= url %>">
              <span class="plus">Post to Wall</span>
            </a>
          </li>
         <!--  <li>
            <a href="#" class="facebook-button speech-bubble" id="sendToFriends" data-url="<%#= url %>">
              <span class="speech-bubble">Send Message</span>
            </a>
          </li> -->
          <li>
            <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
              <span class="apprequests">Send Requests</span>
            </a>
          </li>
        </ul>

          <div class="list">
            <h3>Can't you imagine Adam fitting in with these people?</h3>
            <ul class="friends">
              <% @friends.each do |friend| %>
                <li>
                  <a href="#" onclick="window.open('http://www.facebook.com/<%= friend['id']%>')">
                    <img src="https://graph.facebook.com/<%= friend['id'] %>/picture?type=square" alt="<%= friend['name'] %>">
                  </a>
                </li>
              <% end %>
            </ul>
          </div>

    
</div>
<% else %>

    <h1>Hey!</h1>
      <a href='/auth/facebook' class="fb_button fb_button_medium">
        <span class="fb_button_text">Log In with Facebook</span>
      </a>
   </div>   
<% end %>
</header>
