<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Give Me a Job</title>
<link type="text/css" rel="stylesheet" href="stylesheets/index.css" />
<link type="text/css" rel="stylesheet" href="stylesheets/base.css" />
</head>
<body>
<script type="text/javascript">
      function logResponse(response) {
        if (console && console.log) {
          console.log('The response was', response);
        }
      }

      $(function(){
        // Set up so we handle click on the buttons
        $('#postToWall').click(function() {
          FB.ui(
            {
              method : 'feed',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendToFriends').click(function() {
          FB.ui(
            {
              method : 'send',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendRequest').click(function() {
          FB.ui(
            {
              method  : 'apprequests',
              message : $(this).attr('data-message')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });
      });
    </script>

<!-- <img src="dumbo.jpg" alt="scenary" /> -->
<h1 id='splash-text'>Adam Jonas' Give Me a Job/ Thank You Splash Page</h1>


      <% if @user %>
          <p id="picture" style="background-image: url(https://graph.facebook.com/<%= @user['id'] %>/picture?type=normal)"></p>
          <div>
            <h1>Welcome, <strong><%= @user['name'] %></strong></h1>
            <p class="tagline">
              This is your app
              <a href="<%= @app['@app'] %>"><%= @app['name'] %></a>
            </p>
            <div id="share-app">
              <p>Share your app:</p>
              <ul>
                <li>
                  <a href="#" class="facebook-button" id="postToWall" data-url="<%= url %>">
                    <span class="plus">Post to Wall</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="facebook-button speech-bubble" id="sendToFriends" data-url="<%= url %>">
                    <span class="speech-bubble">Send Message</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
                    <span class="apprequests">Send Requests</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      <% else %>
        <div>
          <h1>Hey!</h1>
            <a href='/auth/facebook' class="fb_button fb_button_medium">
              <span class="fb_button_text">Log In with Facebook</span>
            </a>
        </div>

      <% end %>
    

</body>
</html>
